<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <title>Export Invoice Details</title>
</head>
<body>
<section layout:fragment="header">
  <h1>
    Export Invoice Detail
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Export Invoice Details</li>
  </ol>
</section>
<div layout:fragment="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Export Invoice Detail</h3>
        <form th:action="@{/export-invoice/save}" th:object="${exportInvoice}" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="alert alert-danger" th:if="${error != null}">
            <p th:text="${error}"></p>
          </div>

          <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
          </div>

          <div class="box-body">
            <div class="form-group" th:if="${exportInvoice.id != null}">
              <label class="col-sm-2 control-label">Id</label>
              <div class="col-sm-10">
                <input type="text" class="form-control"  readonly="readonly" th:field="*{id}" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Vật liệu xuất</label>
              <div class="col-sm-10">
                <select class="form-control model" th:field="*{exportMaterial.id}">
                  <option th:each="material : ${materials}" th:value="${material.id}" th:utext="${material.name}"
                  ></option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Số lượng</label>
              <div class="col-sm-10">
                <input type="number" class="form-control"  th:field="*{exportQuantity}" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Ngày xuất</label>
              <div class="col-sm-10">
                <input type="date" class="form-control"  th:field="*{exportDate}" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Nhà phân phối</label>
              <div class="col-sm-10">
                <input type="text" class="form-control"  th:field="*{distributor}" placeholder="">
              </div>
            </div>

          </div>
          <div class="box-footer center">
            <a th:href="@{/export-invoice}">
              <button type="button" class="btn btn-default"><i class="fa fa-right"></i> Cancel</button>
            </a>
            <button type="submit" class="btn btn-info pull-right"><i class="fa fa-save"></i> Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<th:block layout:fragment="script">
  <script type="text/javascript">
    function getModels() {
      var make = $(".make").val();
      $.get( "../material/models?make=" + make, function( data ) {
        $(".model").empty();
        data.forEach(function(item, i) {
          var option = "<option value = " + item.id + ">" + item.name +  "</option>";
          $(".model").append(option);
        });
      });
    };
    $(document).ready(function() {
      $(".make").change(function() {
        getModels();
      });
    });
  </script>
</th:block>

</body>

</html>